<div class="container">
    <div class="d-flex justify-content-center mt-4">
        <b style="font-size: 70px;">{{ title }}</b>
    </div>

    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="d-flex mt-4">
            <div class="col-8">
                <mat-form-field class="w-100">
                    <mat-label>Nome</mat-label>
                    <input matInput formControlName="nome"
                            placeholder="Informe o seu nome" required maxlength="150">
                    <mat-error *ngIf="form.nome.invalid">
                        {{ValidationService.errorMessage(form.nome)}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">
                <mat-form-field class="w-100">
                    <mat-label>Quantidade</mat-label>
                    <input matInput formControlName="quantidade"
                            placeholder="Informe a quantidade de produtos." required maxlength="10"  (keypress)="validationNumber($event)">
                    <mat-error *ngIf="form.quantidade.invalid">
                        {{ValidationService.errorMessage(form.quantidade)}}
                    </mat-error>
                </mat-form-field>
            </div>
        </div>

        <div class="d-flex mt-4" >
            <div class="col-8">
                <mat-form-field class="w-100">
                    <mat-label>Codigo de Barras</mat-label>
                    <input matInput formControlName="codigoBarras"
                            placeholder="Informe o código de barras." required maxlength="25">
                    <mat-error *ngIf="form.codigoBarras.invalid">
                        {{ValidationService.errorMessage(form.codigoBarras)}}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-4">                    
                <mat-form-field class="w-100">
                    <mat-select formControlName="categoria" placeholder="Informe a categoria">
                        <mat-option>Selecione</mat-option>
                        <mat-option *ngFor="let $categoria of categorias" [value]="$categoria.id">
                            {{$categoria.nome}}
                        </mat-option>
                    </mat-select>
                    <mat-error *ngIf="form.categoria.invalid">
                        {{ValidationService.errorMessage(form.categoria)}}
                    </mat-error>
                  </mat-form-field>
            </div>
            
        </div>

        <div class="d-flex mt-4" >
            <div class="col-12">
                <mat-form-field class="w-100">
                    <mat-label>Descrição</mat-label>
                    <textarea matInput #inputValue name="descricao"  formControlName="descricao" placeholder="Descreva sobre o produto..." maxlength="350"></textarea>
                    <mat-error *ngIf="form.descricao.invalid">
                        {{ValidationService.errorMessage(form.descricao)}}
                    </mat-error>
                  </mat-form-field>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button mat-stroked-button type="submit" class="btn btn-outline-success mr-2">
                {{ buttonSubmit }}
            </button>
            <button mat-stroked-button type="button" class="btn btn-outline-info">
                Voltar
            </button>
        </div>

    </form>

</div>